psutil==5.9.4
Pillow==10.0.0
pyglet==1.5.27  # keep for now pyglet 1.5.X
opensimplex==0.4.4
clipboard==0.0.4
toml==0.10.2
requests==2.30.0
deprecation==2.1.0
simplejson==3.19.1
Python-NBT==1.2.0
aiofiles==23.1.0
bytecodemanipulation==0.2.2