psutil==5.9.1
Pillow==9.1.1
pyglet==1.5.26
opensimplex==0.4.2
clipboard==0.0.4
toml==0.10.2
requests==2.27.1
deprecation==2.1.0
simplejson==3.17.6
Python-NBT==1.2.0
aiofiles==0.8.0
bytecodemanipulation==0.1.9