psutil==5.9.4
Pillow==9.4.0
pyglet==1.5.27  # keep for now pyglet 1.5.X
opensimplex==0.4.3
clipboard==0.0.4
toml==0.10.2
requests==2.28.1
deprecation==2.1.0
simplejson==3.18.1
Python-NBT==1.2.0
aiofiles==22.1.0
bytecodemanipulation==0.2.2